<div class="auth-container" [class.loading-active]="loading">
  <div class="loading-overlay" *ngIf="loading">
    <div class="loading-spinner"></div>
  </div>

  <div class="toggle-buttons">
    <button (click)="showLogin()" [class.active]="isLoginVisible" class="toggle-button">Login</button>
    <button (click)="showRegister()" [class.active]="!isLoginVisible" class="toggle-button">Registrieren</button>
  </div>

  <div *ngIf="isLoginVisible" class="auth-card">
    <div class="auth-header">
      <h2>Login</h2>
    </div>
    <div class="auth-body">
      <input [(ngModel)]="username" placeholder="Benutzername" class="auth-input">
      <input [(ngModel)]="password" (keyup.enter)="login()" type="password" placeholder="Passwort" class="auth-input">
      <button (click)="login()" class="auth-button">Login</button>

      <p class="message success" *ngIf="loginMessage && !loading">{{ loginMessage }}</p>
      <p class="message error" *ngIf="loginErrorMessage && !loading">{{ loginErrorMessage }}</p>
    </div>
  </div>

  <div *ngIf="!isLoginVisible" class="auth-card">
    <div class="auth-header">
      <h2>Registrieren</h2>
    </div>
    <div class="auth-body">
      <input [(ngModel)]="registerName" placeholder="Name" class="auth-input">
      <input [(ngModel)]="registerEmail" placeholder="Email" class="auth-input">
      <input [(ngModel)]="registerPhone" placeholder="Handy Nummer" class="auth-input">
      <input [(ngModel)]="registerCity" placeholder="Stadt" class="auth-input">
      <input [(ngModel)]="registerUsername" placeholder="Benutzername" class="auth-input">
      <input [(ngModel)]="registerPassword" type="password" placeholder="Passwort" class="auth-input">
      <button (click)="register()" class="auth-button">Registrieren</button>
      <p class="message success" *ngIf="registerMessage && !loading">{{ registerMessage }}</p>
    </div>
  </div>
</div>
