<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="logout-container">
  <button mat-icon-button (click)="logout()" class="logout-button">
    <mat-icon>logout</mat-icon>
  </button>
</div>

<div class="task-container" *ngIf="!hasError">
  <div class="task-card">
    <table class="task-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Datum</th>
          <th>Version</th>
          <th>Schwierigkeitsgrad</th>
          <th>Abgeschlossen</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
          <td>{{ task.quizName }}</td>
          <td>{{ task.quizDate }}</td>
          <td>{{ task.quizVersion }}</td>
          <td>{{ task.quizLevel }}</td>
          <td>
            <svg class="percentage-circle" viewBox="0 0 36 36">
              <circle class="circle-bg" cx="18" cy="18" r="15"></circle>
              <circle
                class="circle"
                cx="18"
                cy="18"
                r="15"
                [attr.stroke-dasharray]="task.quizLevel + ', 100'">
              </circle>
              <text x="18" y="20.35" class="percentage-text">{{ task.quizLevel }}%</text>
            </svg>
          </td>
          <td>
            <a [href]="'/Quiz/' + task.id" class="start-button">Starten</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
