html, body {
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle at bottom, #001f3f, #000);
}

.percentage-circle {
  width: 50px;
  height: 50px;

  .circle-bg {
    fill: none;
    stroke: gray;
    stroke-width: 1.5;
  }

  .circle {
    fill: none;
    stroke: #3598fb;
    stroke-width: 3.8;
    stroke-linecap: round;
    transition: stroke-dasharray 0.3s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }

  .percentage-text {
    fill: white;
    font-size: 10px;
    text-anchor: middle;
    dominant-baseline: middle;
  }
}

.task-container {
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.task-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  box-shadow: 0 10px 40px 0 rgba(31, 38, 135, 0.5);
  padding: 2rem;
  transition: all 0.3s ease;
  width: 100%;
}

.task-table {
  width: 100%;
  border-collapse: collapse;

  th, td {
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  th {
    color: #0074D9;
    font-weight: bold;
  }

  td {
    color: #ffffff;
  }
}

.start-button {
  background-color: #0074D9;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s, transform 0.3s;

  &:hover {
    background-color: #001f3f;
    transform: scale(1.1);
  }
}

.logout-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
  margin-right: 5%;
}

.logout-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: white;
  font-size: 1rem;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.2);
  }
}

mat-icon {
  font-size: 24px;
}
